@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  --color-primary:      #80BB9B;
  --color-primary-dark: #4F6560;
  --color-surface:      #FFFFFF;
  --color-bg-light:     #F6F6F6;
  --color-text:         #2C2C2A;
  --color-text-muted:   #6B7280;
  --color-border:       #E5E7EB;
}
